body {
    box-sizing: border-box;
    background-color: rgb(2, 2, 37);
    margin: 30px;
}

.loading {
    width: 200px;
    height: 200px;
    /* background-color: wheat; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading div {
    position: absolute;
}

.loading div:nth-child(1) {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(245, 35, 53);
    animation: spiner 2s linear alternate infinite;
}

.loading div:nth-child(2) {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: aqua;
    animation: spiner 2s linear alternate infinite;
    animation-delay: -1.0s;
}

.loading div:nth-child(3) {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(245, 35, 53);
    animation: spiner2 2s linear alternate infinite;
}

@keyframes spiner2 {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    49.99% {
        opacity: 1;
        transform: translateX(90px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(90px);
    }
}

@keyframes spiner {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(90px);
    }
    100% {
        transform: translateX(0);
    }
}