:root {
    --white--color: #fff;
    --black--color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes oke {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}